# Chapter 2.판다스

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    "메뉴" :['아메리카노', '카페라떼', '카페모카', '카푸치노','에스프레소','밀크티','녹차'],
    "가격" : [4500, 5000,5500, 5000, 4000,5900,5300],
    "칼로리" : [10,110,250, 110, 20, 210, 0],
})
df

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20
5    밀크티  5900  210
6     녹차  5300    0

## 3. 탐색적 데이터 분석(EDA)

In [3]:
df.sample(3)

      메뉴    가격  칼로리
1   카페라떼  5000  110
6     녹차  5300    0
4  에스프레소  4000   20

In [4]:
df.shape

(7, 3)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      7 non-null      object
 1   가격      7 non-null      int64
 2   칼로리     7 non-null      int64
dtypes: int64(2), object(1)
memory usage: 296.0+ bytes

In [6]:
df.corr(numeric_only=True)

           가격       칼로리
가격   1.000000  0.713227
칼로리  0.713227  1.000000

In [7]:
df_car = pd.DataFrame({
    "car" :['Ssdan','SUV','Sedan','SUV','SUV','SUV','Sedan','Sedan','Sedan','Sedan','Sedan'],
    "size" : ['S','M','S','S','M','M','L','S','S','M','S']
})
df_car.head(3)

     car size
0  Ssdan    S
1    SUV    M
2  Sedan    S

In [11]:
print(df_car['car'].value_counts())
print(df_car['size'].value_counts())

car
Sedan    6
SUV      4
Ssdan    1
Name: count, dtype: int64
size
S    6
M    4
L    1
Name: count, dtype: int64