# 1. 환자의 당뇨병 여부 예측

In [38]:
import pandas as pd
train = pd.read_csv('diabetes_train.csv')
test = pd.read_csv('diabetes_test.csv')

In [39]:
train.shape, test.shape

((614, 9), (154, 8))

In [40]:
train.head(1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,118,58,36,94,33.3,0.261,23,0

In [41]:
test.head(1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,3,102,74,0,0,29.5,0.121,32

In [42]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               614 non-null    int64
 1   Glucose                   614 non-null    int64
 2   BloodPressure             614 non-null    int64
 3   SkinThickness             614 non-null    int64
 4   Insulin                   614 non-null    int64
 5   BMI                       614 non-null    float64
 6   DiabetesPedigreeFunction  614 non-null    float64
 7   Age                       614 non-null    int64
 8   Outcome                   614 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 43.3 KB

In [43]:
train.isnull().sum().sum(), test.isnull().sum().sum()

(0, 0)

In [44]:
target = train.pop('Outcome')

from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(train, target, test_size = 0.2, random_state = 0)
print(X_train.shape, X_val.shape, y_train.shape, y_val.shape)

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state = 0)
rf.fit(X_train, y_train)
pred = rf.predict_proba(X_val)
print(pred[:5])

from sklearn.metrics import roc_auc_score
roc_auc = roc_auc_score(y_val, pred[:,1])
print(roc_auc)

pred = rf.predict_proba(test)
submit = pd.DataFrame({'pred' : pred[:,1]})
submit.to_csv('result.csv', index = False)
print(pd.read_csv('result.csv').head())

(491, 8) (123, 8) (491,) (123,)
[[0.88 0.12]
 [0.29 0.71]
 [0.41 0.59]
 [0.75 0.25]
 [0.89 0.11]]
0.8002739726027398
   pred
0  0.17
1  0.33
2  0.11
3  0.04
4  0.09

In [46]:
# 라이브러리 및 데이터 불러오기 
import pandas as pd

train = pd.read_csv('diabetes_train.csv')
test = pd.read_csv('diabetes_test.csv')

# 데이터 전처리
target = train.pop('Outcome')
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
train = scaler.fit_transform(train)
test = scaler.transform(test)

# 검증 데이터 나누기
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(train,target, test_size = 0.2, random_state = 0)

# 머신러닝 학습 및 평가 
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(max_depth = 5, n_estimators = 500, random_state = 0 )
rf.fit(X_train, y_train)
pred = rf.predict_proba(X_val)

from sklearn.metrics import roc_auc_score
roc_auc = roc_auc_score(y_val, pred[:,1])
print(roc_auc)

# 예측 및 결과 파일 생성
pred = rf.predict_proba(test)
submit = pd.DataFrame({'pred' : pred[:,1]})
submit.to_csv('result.csv', index = False)

0.8246575342465753

# 2. 이직 여부 예측

In [73]:
import pandas as pd
train = pd.read_csv('hr_train.csv')
test = pd.read_csv('hr_test.csv')
train.shape, test.shape

((15326, 14), (3832, 13))

In [74]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15326 entries, 0 to 15325
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             15326 non-null  int64
 1   city                    15326 non-null  object
 2   city_development_index  15326 non-null  float64
 3   gender                  11750 non-null  object
 4   relevent_experience     15326 non-null  object
 5   enrolled_university     15012 non-null  object
 6   education_level         14961 non-null  object
 7   major_discipline        13045 non-null  object
 8   experience              15272 non-null  object
 9   company_size            10539 non-null  object
 10  company_type            10383 non-null  object
 11  last_new_job            14984 non-null  object
 12  training_hours          15326 non-null  int64
 13  target                  15326 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 1.6+ MB

In [75]:
print(train.isnull().sum())
test.isnull().sum()

enrollee_id                  0
city                         0
city_development_index       0
gender                    3576
relevent_experience          0
enrolled_university        314
education_level            365
major_discipline          2281
experience                  54
company_size              4787
company_type              4943
last_new_job               342
training_hours               0
target                       0
dtype: int64

enrollee_id                  0
city                         0
city_development_index       0
gender                     932
relevent_experience          0
enrolled_university         72
education_level             95
major_discipline           532
experience                  11
company_size              1151
company_type              1197
last_new_job                81
training_hours               0
dtype: int64

In [76]:
train.describe(include = 'O')

,city,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job
count,15326,11750,15326,15012,14961,13045,15272,10539,10383,14984
unique,123,3,2,3,5,6,22,8,6,6
top,city_103,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,1
freq,3510,10601,10942,11042,9242,11538,2673,2453,7838,6414

In [77]:
test.describe(include = 'O')

,city,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job
count,3832,2900,3832,3760,3737,3300,3821,2681,2635,3751
unique,113,3,2,3,5,6,22,8,6,6
top,city_103,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,1
freq,845,2620,2850,2775,2356,2954,613,630,1979,1626

In [78]:
target = train.pop('target')

# 결측치 처리
train = train.fillna('X')
test = test.fillna('X')

# train과 test 합쳐서 원-핫 인코딩
combined = pd.concat([train,test])
combined_dummies = pd.get_dummies(combined)
train = combined_dummies[:len(train)]
test = combined_dummies[len(train):]

# 검증 데이터 나누기
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(train, target, test_size = 0.2, random_state = 0)

# 머신러닝 학습 및 평가 
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state = 0)
rf.fit(X_train, y_train)
pred = rf.predict_proba(X_val)

from sklearn.metrics import roc_auc_score
roc_auc = roc_auc_score(y_val, pred[:,1])

# 예측 및 결과 파일 생성
pred = rf.predict_proba(test)
submit = pd.DataFrame({'pred' : pred[:,1]})
submit.to_csv('result2.csv', index = False)

In [79]:
roc_auc

0.7730742036233207

In [89]:
# 라이브러리 및 데이터 불러오기 
import pandas as pd
train = pd.read_csv('hr_train.csv')
test = pd.read_csv('hr_test.csv')

# 데이터 전처리
target = train.pop('target')

# 결측치 처리 
train = train.fillna('X')
test = train.fillna('X')

# 레이블 인코딩
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
combind = pd.concat([train, test])
cols = train.select_dtypes(include = 'object').columns

for col in cols:
    combind[col] = le.fit_transform(combind[col])
train = combind[:len(train)]
test = combind[len(train):]

#id 제거
# train.drop('enrollee_id', axis = 1)
# test.drop('enrollee_id', axis = 1)

# 스케일링
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()
train = scaler.fit_transform(train)
test = scaler.transform(test)

# 검증 데이터 분할
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(train, target, test_size = 0.2, random_state = 0)

# 머신러닝 학습 및 평가
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(max_depth = 7, n_estimators = 200, random_state = 0)
rf.fit(X_train, y_train)
pred = rf.predict_proba(X_val)

from sklearn.metrics import roc_auc_score
roc_auc = roc_auc_score(y_val, pred[:,1])
print(roc_auc)

pred = rf.predict_proba(test)
submit = pd.DataFrame({'pred' : pred[:,1]})
submit.to_csv('result2.csv', index=  False)

0.7825363713412095