# 1. 일원 분산 분석

### 3. 일원 분산 분석

In [3]:
import pandas as pd
df = pd.DataFrame({
    'A' : [10.5, 11.3, 10.8, 9.6, 11.1, 10.2, 10.9, 11.4, 10.5, 10.3],
    'B' : [11.9, 12.4, 12.1, 13.2, 12.5, 11.8, 12.2, 12.9, 12.4, 12.3],
    'C' : [11.2, 11.7, 11.6, 10.9, 11.3, 11.1, 10.8, 11.5, 11.4, 11.0],
    'D' : [9.8, 9.4, 9.1, 9.5, 9.6, 9.9, 9.2, 9.7, 9.3, 9.4]
})

from scipy import stats
print(stats.shapiro(df['A']))
print(stats.shapiro(df['B']))
print(stats.shapiro(df['C']))
print(stats.shapiro(df['D']))

print(stats.levene(df['A'], df['B'], df['C'], df['D']))

stats.f_oneway(df['A'], df['B'], df['C'], df['D'])

ShapiroResult(statistic=0.9649055004119873, pvalue=0.840017557144165)
ShapiroResult(statistic=0.9468040466308594, pvalue=0.63086998462677)
ShapiroResult(statistic=0.9701647162437439, pvalue=0.8923683762550354)
ShapiroResult(statistic=0.9752339720726013, pvalue=0.9346861243247986)
LeveneResult(statistic=1.9355354288758708, pvalue=0.14127835331346628)

F_onewayResult(statistic=89.12613851177174, pvalue=1.0018381522523723e-16)

### 4. 일원 분산 분석(ols 활용)

In [4]:
import pandas as pd
df = pd.read_csv('fertilizer.csv')

from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
model = ols('성장 ~ C(비료)', df).fit()
anova_lm(model)

            df    sum_sq    mean_sq          F        PR(>F)
C(비료)      3.0  43.21875  14.406250  89.126139  1.001838e-16
Residual  36.0   5.81900   0.161639        NaN           NaN

# 2. 이원 분산 분석

In [1]:
import pandas as pd
df = pd.read_csv('tree.csv')
df.sample(10)

   나무  비료        성장률
85  C   3  60.982430
61  C   1  58.143410
84  C   3  57.915064
97  D   1  67.610553
15  A   2  47.377125
66  C   1  59.279899
33  B   1  44.422891
71  C   2  78.380366
56  B   3  52.607825
73  C   2  78.646437

In [7]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
model = ols('성장률 ~ 나무 + 비료 + 나무:비료', data = df).fit()
anova_table = sm.stats.anova_lm(model)
anova_table

             df       sum_sq      mean_sq          F        PR(>F)
나무          3.0  4783.353938  1594.451313  18.391274  9.016693e-10
비료          1.0   873.322002   873.322002  10.073374  1.942421e-03
나무:비료       3.0   394.801585   131.600528   1.517952  2.137666e-01
Residual  112.0  9709.960792    86.696078        NaN           NaN

In [2]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
model = ols('성장률 ~ C(나무) + C(비료) + C(나무):C(비료)', data = df).fit()
anova_table = sm.stats.anova_lm(model)
anova_table

                df       sum_sq      mean_sq          F        PR(>F)
C(나무)          3.0  4783.353938  1594.451313  18.855528  6.600012e-10
C(비료)          2.0  1127.924259   563.962129   6.669256  1.857612e-03
C(나무):C(비료)    6.0   717.520672   119.586779   1.414199  2.157357e-01
Residual     108.0  9132.639448    84.561476        NaN           NaN