# Chapter 2.판다스

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    "메뉴" :['아메리카노', '카페라떼', '카페모카', '카푸치노','에스프레소','밀크티','녹차'],
    "가격" : [4500, 5000,5500, 5000, 4000,5900,5300],
    "칼로리" : [10,110,250, 110, 20, 210, 0],
})
df

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20
5    밀크티  5900  210
6     녹차  5300    0

## 3. 탐색적 데이터 분석(EDA)