In [28]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "메뉴" : ['아메리카노', '카페라떼', '에스프레소', '카페모카', '바닐라라떼'],
    "가격" : [4500, 5000, 4000, 5900, 5300],
    "칼로리" :[10,110, np.NaN, 210, np.NaN],
    "원두" : ['과테말라', '브라질', '과테말라', np.NaN, np.NaN]
})
df

      메뉴    가격    칼로리    원두
0  아메리카노  4500   10.0  과테말라
1   카페라떼  5000  110.0   브라질
2  에스프레소  4000    NaN  과테말라
3   카페모카  5900  210.0   NaN
4  바닐라라떼  5300    NaN   NaN

## Q1. '칼로리' 칼럼의 결측치를 칼로리 데이터 중 최솟값으로 채우시오.

In [29]:
df['칼로리'] = df['칼로리'].fillna(min(df['칼로리']))
df

      메뉴    가격    칼로리    원두
0  아메리카노  4500   10.0  과테말라
1   카페라떼  5000  110.0   브라질
2  에스프레소  4000   10.0  과테말라
3   카페모카  5900  210.0   NaN
4  바닐라라떼  5300   10.0   NaN

## Q2. ‘원두’ 칼럼의 결측치를 원두 데이터 중 최빈값으로 채우시오.

In [31]:
df['원두'] = df['원두'].fillna(df['원두'].mode())
df

      메뉴    가격    칼로리    원두
0  아메리카노  4500   10.0  과테말라
1   카페라떼  5000  110.0   브라질
2  에스프레소  4000   10.0  과테말라
3   카페모카  5900  210.0   NaN
4  바닐라라떼  5300   10.0   NaN